
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Patient Tracking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/PatientTheme/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/single.css">
    <link href="~/PatientTheme/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/PatientTheme/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>

<body>
<!--Header-->

<header>
    <div class="top-bar_sub_w3layouts container-fluid">
        <div class="row">
            <div class="col-md-4 logo text-left">
                <a class="navbar-brand" href="/Doctor/Index/">
                    <i class="fab fa-linode"></i> PT System</a>
            </div>
            @await Component.InvokeAsync("LoginHeader")
        </div>
    </div>

    <div class="header_top" id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Doctor/Index/">Doktorlar
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PatientInfo/Index/">Bilgilerim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PatientInfo/GetMedicalReports/">Raporlarım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PatientInfo/GetAppointments/">Randevularım</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/DoctorLogin/">Doktor Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/ManagerLogin/">Yönetici Giriş</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--//header-->


<!--/main-->
@RenderBody()
<!--//main-->

<!-- js -->
<script src="~/PatientTheme/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!--/ start-smoth-scrolling -->
<script src="~/PatientTheme/js/move-top.js"></script>
<script src="~/PatientTheme/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<!--// end-smoth-scrolling -->

<script>
    $(document).ready(function () {
        /*
                                var defaults = {
                                      containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear' 
                                 };
                                */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<a href="#home" class="scroll" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>

<!-- //Custom-JavaScript-File-Links -->
<script src="~/PatientTheme/js/bootstrap.js"></script>


</body>

</html>


