@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Patient

@{
    ViewBag.Title = "title";
    Layout = "_ManagerLayout";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Hasta Kayıt Sayfası</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form id="patientForm" asp-action="AddPatient" asp-controller="ManagerDashboard" method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Hasta Adı</label>
                            <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" data-val="false" required="required">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Hasta Soyadı</label>
                            <input type="text" class="form-control" id="Surname" name="Surname" asp-for="Surname" data-val="false" required="required">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Telefon Numarası</label>
                            <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" asp-for="PhoneNumber" data-val="false" required="required">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Adres</label>
                            <input type="text" class="form-control" id="Address" name="Address" asp-for="Address" data-val="false" required="required">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Cinsiyet</label>
                            <div class="col-md-10">
                                <select id="Gender" name="Gender" asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Doğum Tarihi</label>
                            <input type="date" class="form-control" id="BirthDate" name="BirthDate" asp-for="BirthDate" data-val="false" required="required">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail Adresi</label>
                            <input type="email" class="form-control" id="MailAddress" name="MailAddress" asp-for="MailAddress" data-val="false" required="required">
                            <span asp-validation-for="MailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" data-val="false" placeholder="" required="required">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" id="kayitOl" class="btn btn-primary submit mb-4">Hasta Ekle</button>
                </form>
            </div>
        </div>
    </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#patientForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddPatient", "ManagerDashboard")',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Başarılı!',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'Tamam'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("GetPatients", "ManagerDashboard")';
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Hata!',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Tamam'
                        });
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        title: 'Hata!',
                        text: 'Hasta eklenirken bir hata oluştu: ' + xhr.responseText,
                        icon: 'error',
                        confirmButtonText: 'Tamam'
                    });
                }
            });
        });
    });
</script>
