@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EntityLayer.Concrete.Patient

@{
    ViewBag.Title = "title";
    Layout = "_ManagerLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hasta Profil Bilgileri Düzenleme</h4>
            <br/>
            <form class="forms-sample" asp-action="PatientUpdate" asp-controller="ManagerDashboard" method="post">
                <input type="text" asp-for="PatientID" hidden="hidden">
                <div class="form-group">
                    <label for="exampleInputName1">İsim</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="İsim Soyisim" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Soyisim</label>
                    <input type="text" asp-for="Surname" class="form-control" id="exampleInputName1" placeholder="İsim Soyisim" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail Adresi</label>
                    <input type="email" asp-for="MailAddress" class="form-control" id="exampleInputEmail3" placeholder="Mail Adresi" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Şifre</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword4" placeholder="Şifre" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Doğum Tarihi</label>
                    <input type="date" asp-for="BirthDate" class="form-control" id="exampleInputName1" placeholder="İsim Soyisim" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Telefon Numarası</label>
                    <input type="tel" asp-for="PhoneNumber" class="form-control" id="exampleInputName1" placeholder="İsim Soyisim" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Adres</label>
                    <input type="text" asp-for="Address" class="form-control" id="exampleInputName1" placeholder="İsim Soyisim" required="required">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Cinsiyet</label>
                    <div class="col-md-10">
                        <select id="Gender" name="Gender" asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>
